{#Vue dediée aux datables des hors forfait#}

    {#Si lignefraishorsforfait est vide on indique que c'est vide#}
    {% if lignesfraishorsforfait | length == 0 %}
        <div class="text-center">
            <input class="alert alert-danger" type="button" value="Pas de données horsforfait à afficher"/>
        </div>
        {#Sinon c'est qu'on a des données et on les affiche#}
    {% else %}

        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>Date</th>
                <th>Libellé</th>
                <th>Montant</th>
                {% if is_granted('ROLE_COMPTABLE') %}
                    <th>Action</th>
                {% endif %}
                {% if is_granted('ROLE_USER') %}
                    {% if suppression %}
                        <th>Action</th>
                    {% endif %}
                {% endif %}
            </tr>
            </thead>

            <tbody>
            {% for lignefraishorsforfait in lignesfraishorsforfait %}
                <tr>

                    <td>{{ lignefraishorsforfait.date|date('Y-m-d') }}</td>
                    <td>{{ lignefraishorsforfait.libelle }}</td>
                    <td>{{ lignefraishorsforfait.montant }}</td>
                    {% if is_granted('ROLE_USER')  %}
                        {% if suppression %}
                            <td> <a href="{{ path('gsb_app_deleteHorsForfait', {'id':lignefraishorsforfait.id}) }}">Supprimer</a></td>
                        {% endif %}
                    {% endif %}
                    {% if is_granted('ROLE_COMPTABLE') %}
                            <td><a href="{{ path('gsb_app_refuserFicheDeFrais', {'id':lignefraishorsforfait.id}) }}">Refuser frais</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% endif %}



