{#Affichage des fiches de frais de chaque mois#}

{% extends '@GSBApp/layout.html.twig' %}
{% block title %}{{ parent()}}Consultation{% endblock %}
{% block body %}

    {{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="well">
        {{ form_label(form.mois,'Selection du mois', {'label_attr':{'class':'col-sm-4 control-label '}}) }}
        <div class="sample">
            {{ form_widget(form.mois,{'attr':{'class':'form-control select'}}) }}
        </div>

        <div class="form-group">
            <input  class="btn btn-primary btn-raised" type="submit" value="enregistrer"/>
        </div>
        {{ form_widget(form._token) }}
        {{ form_end(form) }}
    </div>


    {% if mois | length != 0 %}
        {% set mois = mois|split('',4) %}
        <h3><span class="label label-info">Fiche de frais du {{ mois[1] }} - {{ mois[0] }}</span></h3>
        <span class="label label-info">Etat : {{ etat.libelle }} depuis le {{ dateModif }}</span><br>
        {% if etat.id == 'VA' %}
            <span class="label label-primary">Montant validé : {{ total }} €</span>
            {% else %}
                <span class="label label-warning">Montant non validé : {{ total }} €</span>
        {% endif %}
    {% endif %}

    <div class="well">
        <h4><span class="label label-default">Eléments forfaitisés</span></h4>
        <div class="table table-bordered table-hover">
            {% include 'GSBAppBundle::dataTablesDossierForfait.html.twig' with{'lignesfraisforfait': lignefraisforfait} %}
        </div>

        <h4><span class="label label-default">Descriptif des éléments hors forfait</span></h4>
        <div class="table table-bordered table-hover">
            {% include 'GSBAppBundle::dataTablesDossierHorsForfait.html.twig' with{'lignesfraishorsforfait': lignesfraishorsforfait, 'suppression': suppression} %}
        </div>
    </div>


{% endblock %}